<app-header></app-header>

<h1>My First Project</h1>

<button (click)="viewItems()" style="width: 300px;height: 50px;background-color: red;">Click Me</button>

<div *ngIf="isClicked;then thenblock"></div>

<ng-template #thenblock>
<table  border="2px" width='100%' style="text-align: center;">
    <thead>
    <tr>
        <th>Item NO</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Img</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productsList,index as i" style="height: 50px;">
            <td>{{i+1}}</td>
            <td>{{product.Name |uppercase}}</td>
            <td>{{product.Quantity}}</td>
            <td>{{product.Price |currency:'EUR'}}</td>
            <td><img [src]="product.Img" style="width: 50%;height: 150px;"></td>
        </tr>    
    </tbody>
</table>
</ng-template>

<app-products></app-products>
<app-footer></app-footer>
<router-outlet></router-outlet>
