<div class="card-deck">
    <div class="card" *ngFor="let product of products">
      <img class="card-img-top" [src]="product.Img" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product.Name }}</h5>
        <h5 class="card-title">{{product.Quantity}}</h5>
        <h5 class="card-title">{{product.Price|currency :'EUR'}}</h5>
        <p class="card-text">Description</p>
        <a href="#" class="btn btn-primary">Add To Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>