.container-fluid .btn{
    width: 30%;
    height: 100px;
    font-size: larger;
    
}
.container-fluid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
